body{
  background-color: #f4f4f4;
}
#login{
  margin-top: 30px;

}
.main-color-bg{
  background-color: #e74c3c | important;
  border-color: #c0392b | imprtant;
  color: #ffffff;
}
#header{
  background: #33333333;
  color: #ffffffff;
  padding-top:5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}
#header .create{
  padding-top: 20px;
}
#bradcrumb{
  padding-top: 0px;
}
#dasbhoard{
  margin-top: 30px;

}

.pad{
  margin-top:60px;
}

.userstatus{
  width:35px;
  height:40px;
}

.coursetatus{
  width:40px;
  height:20px;

}
.cstype_yes{
  background-color: #aabbcc;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.cstype_yes:hover, .cstype_yes:active {
  background-color: #bcbcab;
}
.avatar {

  width: 30px;
  height: 30px;
  border-radius: 20%;
}
table td {
   text-align: center;
}
.card img{
  width:70%;
  heigh:70%
}
.side{
  background-color: #ffffff;
}
