body{
background-color: #e1e1e1;

}
.form-wrapper{
  border-radius: 7px;

}
.form-wrapper label{
  font-weight: bold;
}
.errors li{
  list-style: none;;
  width: 100%;
  text-align: center;
}
.errors ul{
  padding-left: 0;
  margin-bottom: 0;
}

@@media (max-width:763px){
  .form-wrapper .text-right{
    text-align: center | imortant;
  }

  .form-wrapper  .btn-primary{
    display: block;
    margin: 0 auto;
  }
}
